{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
    <section class="landing-section landing-main" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static "images/stock.jpg" %}')">
        <h1 class="brand">Stock Market Indicator</h1>
        <h2>
        Your own financial advisor -- more than just stock broking
        </h2>
        <a class="button-17" href="{% url 'login' %}" role="button">Get Started</a>
    </section>
    <section class="landing-features">
        <div class="row services">
        <h1 class="section-heading">Our Services</h1>
        </div>
        <div class="row-one heading-1">
        <div class="column-one">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div>
        <h3>Top Stock Movers</h3>
        <p>
          This app allows users to view real-time data from 3rd party API for top winners, losers, and active stocks
        </p>
        </div>
        </div>
        <div class="column-one">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Watchlist & Charts</h3>
        <p>
          You will be able to add to their own watchlist to keep track of your favorite stocks,
             and to view charts for them.
        </p>
        </div>
        </div>
        <div class="column-one">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-wrench"></i>
        </div>
        <h3>Thresholds Tracker</h3>
        <p>
          A great feature to keep track of the price of your favorite stocks, which sends email
            to your email account whenever your threshold hits.
        </p>
        </div>
        </div>
        </div>
    </section>

{% endblock %}