{% extends "base.html" %}

{% block content %}
  <form action="" method="post" style="background-color:#d5cf96">
  <p> Enter email address to which you would like to get Password reset link</p>
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <div style="text-align:center;">
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" style="background-color:#3642e0 ; color: white;" >
  </div>
  </form>
{% endblock %}