<!DOCTYPE html>
<html lang="en">
{% extends 'dashboard/index.html' %}

{% block content %}

        <div id="charts">
        <table>
            <thead>
            {% for elem in watch_list %}
            <tr>
                {% if elem.user_id_id == user.id %}
                <td>{{ elem.stock_id }}</td>
                    <td>{{ resp1 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </thead>
        </table>
        <p><a href="{% url 'sendmail' %}">Send News to your Mail</a></p>
        </div>
{% endblock %}
</html>